body{
    margin:0;
    padding:0;
}

/*Navbar section*/

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    top:0%;
    height:70px;
    width:100%;
    background-image:linear-gradient(to right,#000,rgb(85, 82, 82));
}

.nav-first{
    color:#fff;
    font-size:24px;
    margin-left: 30px;
}

.menu{
    display:flex;
    list-style: none;
    margin-right: 30px;
}

.menu li a{
    color:#fff;
    font-size:20px;
    padding:0px 10px 0px 10px;
    text-decoration: none;
}

/*Home Section*/

#home{
    height:100vh;
    width:100%;
    background-color: #000;
    display:flex;
    justify-content:space-around;
    margin-top:70px;
}

.home-1{
    color:#fff;
    margin:150px 0px 0px 50px;
    font-size:28px;
    font-weight: 600;
}

.icons{
    display:flex;
    justify-content: center;
    
}

.icons i{
    padding:10px 10px 0px 10px;
}

.cv-btn{
    width:300px;
    height:40px;
    margin-top:30px;
    background-color:#ff4500;
    border-radius: 10px;
    color:#fff;
    border:none;
    font-size: 16px;
}

.home-2{
    margin:80px 80px 0px 0px;
}

.home-2 img{
    width:400px;
    height:400px;
}

/*Contact Me*/

#contact{
    height:60vh;
    margin-top:20px;
}

#contact span{
    display:flex;
    justify-content:center;
    font-size:28px;
    font-weight: 400;
}

.input-fields{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.input-fields input{
    width:300px;
    height:40px;
    margin-top:20px;
    padding-left: 10px;
    border-radius:10px;
}

/*Media Query for Mobile View*/

@media screen and (max-width:480px)
{
    #home{
        display:flex;
        flex-wrap:wrap;
    }

    .home-1{
        margin:80px 0px 0px 0px;
    }
    .home-2{
        margin:40px 0px 0px 0px;
    }
    .home-2 img{
        width:300px;
        height:300px;
    }

    nav{
        display:flex;
        flex-wrap: wrap;
    }
    .menu{
        padding-left: 10px;
    }
}